@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(https://fonts.gstatic.com/s/orbitron/v7/94ug0rEgQO_WuI_xKJMFc3YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}




body {
  margin: 2em;
  font-family: "Orbitron";
}

#graph {
  margin-top: 1.5em;
}

#description {
  margin-top: 1em;
  
}

td {
    vertical-align: top; /* Выравнивание по верхнему краю ячеек */
   }

button {border-width:6px;font-family: "Orbitron";} /* Border width */



.led-red {
    align:left;
   /* margin: 20px auto; 8 */
    padding:-5px 0 0 0
    width: 12px;
    height: 12px;
    background-color: #940;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
}

.led-yellow {
    align:left;
   /* margin: 20px auto; 8 */
    padding:-5px 0 0 0
    width: 12px;
    height: 12px;
    background-color: #A90;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #660 0 -1px 9px, #DD0 0 2px 12px;
}

.led-green {
     align:left;
   /* margin: 20px auto; 8 */
    padding:-5px 0 0 0
    width: 12px;
    height: 12px;
    background-color: #690;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}

