<!DOCTYPE html>
<html>
<head>
    <link href="static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="static/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="static/jquery.flot.js"></script>
    <script type="text/javascript" src="static/socket.io.js"></script>
    <!--[if lte IE 8]>
    <script language="javascript" type="text/javascript" src="static/excanvas.js"></script><![endif   ]-->
    <!-- My own scripts -->
    <script>
        var socket_ask_name='ask_data_rrg';
        var socket_name = "button_rrg";

    </script>
    <script type="text/javascript" src="static/connection_socket_get.js"></script>
    <script type="text/javascript" src="static/connection_socket_button.js"></script>

</head>

<body>
<p style="display:inline" id="value"></p>
<br>
<div id="main">
    <div id="messages">
        <p id="lines"></p>
        <p style="display:inline" id="datagram"></p>
    </div>
    <table>
        <td>
            {% for name in command_list.split() %}
            <div id = {{name}} class="led-yellow"></div>
            <form id={{"Send_"+name}}>
                <input id={{name}}>
                <button id='button'>{{name}}</button>

            </form>

            {% endfor %}
        </td>
        <td>
            {% for name in indicator_list.split() %}

            <p id={{ name }}> {{ name }} = </p>
            {% endfor %}
        </td>
        <td>
       
        {% for name in coil_list.split() %}

    	<button value="2" id={{ "Coil_"+name }}>{{ name }}</button>

    	{% if loop.index0 % 3 == 2 or loop.last %}
     	 <br> 
     	<!-- -->
      	{% endif %}
    	
    	{% endfor %}
        </td>
    </table>
    
</div>
</body>
</html>
